body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    float:left; 
    margin: 10px; 
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

h3 {
    margin-left: 40%;
}

tr:nth-child(even){
    background-color: aqua;
}

tr:nth-child(odd){
    background-color: azure;
}

#top {
    display: flex;
    flex-direction: column;
    order: -1;
}

#company {
    flex-direction: row;
    background-color: bisque;
}

#table-div {
    margin-left: 15%;
    max-width: fit-content;
    background-color: bisque;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    order: 1;
    margin-left: 0%;
}

#nav {
    display: flex;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 25%;
    flex-direction: column;
    max-width: fit-content;
    
}

#nav a {
    color: black;
    text-decoration: none;
    padding: 3px;
    font-size: 1.4rem;
    margin-right: 20px;
    border-radius: 10%;
    background-color: bisque;
}

#nav a:hover {
    background-color: beige;
    box-shadow: 3px 3px 3px rgb(151, 112, 112);
}

#top-text {
    padding: 10px;
    font-weight: bold;
    margin: 0;
    padding-top: 40px;
}

#main-content { 
    background-color: bisque; 
    margin-top: 20px; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    order: 2;
}

#main-content ul { 
    margin-left: 34%;
}

#form-div {
    max-width: 200px;
    background-color: bisque;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 5%;
    max-width: fit-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    order: 3;
}

#footer {
    margin-top: 20px;
    width: 100%; 
    background-color:bisque; 
    padding: 10px; 
    height: 50px;
    display: flex;
    flex-direction: column;
    order: 3;
}

@media screen and (min-width: 800px) {
    #top {
        width: 100%; 
        background-color:#ccc; 
        padding: 10px;
        height: 120px;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #company {
        display: flex;
        flex-direction: row;
        background-color: #ccc;
    }

    #nav {
        justify-content: flex-end;
        flex-direction: row;
        max-height: 45px;
        margin-left: 15%;
    }

    #nav a {
        padding: 10px;
        background-color: rgb(56, 24, 24);
        color: white;
    }

    #main-content {
        margin-left: 25%;
        margin-right: 25%;
    }

    #table-div, #form-div {
        margin-left: 25%;
    }

    #table-div, #footer, #main-content, #form-div {
        order: 0;
        background-color:#ccc; 
    }

    #nav a:hover {
        background-color: rgb(104, 29, 29);
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
    }
}